body,h1 {font-family: "Open Sans", sans-serif}
body, html {height: 100%}

	.bgimg {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.card-img-top {
	object-fit: cover;
	max-height: 11rem;
	max-width: 10rem;
	padding-top: 1rem;
	margin: auto;
	width: auto;
  height: auto;
}

.tools-container{
	margin: 2rem;
}
.bgimg:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(venice-2451047_1920.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity : 0.2;
	z-index: -1;
}

#mapid {
	height: 100%;
	width: auto;
	z-index: 0;
	/*margin: 0px !important;
	padding: 0px;
	border: 1px solid;*/
}
.map {
	z-index: 1;
	opacity: 1;
}
.full_page {
	opacity: 1!important;
}
.searchbar {
	border: 5px solid blue;
	border-radius: 50px;
	height: 70vh;
	padding: 20px;
}
.mappa {
	padding: 10px;
	height: 70vh;
}
.footer {
	border: 10px inset aqua;
	height: 16.3vh;
	border-radius: 10px;
}
.bueae {
	border: 5px outset green;
	height: 70vh;
	border-radius: 20px;
	padding: 20px;
}
.searchfield {
	z-index: 6;
	margin: 1%;
	padding: 1%;
	border-radius: 20px;
	width: 150%;
}
.v4wbtn {
	background-color: #FFF;
	/*padding: 0.3rem 0.6rem;*/
	border-radius: 0.2rem;
	box-shadow: 2px 2px 5px black;
	margin-bottom: 0rem;
}
.btn.btn-light.disabled {
	opacity: 1;
	background-color: #c6c6c6;
	border-color: #c6c6c6;
}
.helpwindowpopup {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EEE;
	text-align: center;
	padding: 0.65rem;
}
.feedbackwindowpopup {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f29898;
	text-align: center;
	padding: 0.65rem;
}
.closebutton {
	border: 1px solid black;
	background-color: #999;
}
.maptype {
	margin-bottom: 2rem;
	z-index: 1;
}
.mapbtn {
	z-index: 1;
	margin-bottom: 2rem;
}
.Xbtn {
	z-index: 3;
	float: right;
}
.srcbtn {
	margin: 0px !important;
}

.aboveZoom {
	padding-bottom: 6.3rem;
	margin-bottom: 3rem;
}
.biggerText {
	font-size: 1.4rem;
}
.smallerTextLink {
	font-size: 0.8rem;
	background-color: blue;
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.mediumText {
	font-size: 0.95rem;
}
.foundspan {
    z-index: 2;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    display: inline;
}
#trovato {
    z-index: 3;
    margin: auto;
    width: 10%;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: blue;
}
.top-left {
	position: absolute;
	top: 5rem;
	left: 1rem;
}
.pad-right {
	padding-right: 3rem;
}
.below-tlbar {
	position: relative;
}
.button-plus {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.onlyMap {
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.loader {
	z-index: 100;
  width: 50%;
  height: 50%;
  text-align: left;
  position: fixed;
  top: 33%;
  left: 50%;
  margin-left:0px;
  margin-top:0px;
}
.transparent {
	opacity: 0.3;
}
.settings_window {
	position: fixed;
	top: 35vh;
	left: 35vw;
	border-radius: 1rem;
	border:1px solid;
	background: #ddd;
	min-width: 30vw;
	min-height: 30vh;
}

.results_window {
	position: fixed;
	border:5px solid #ccc;
	background: #ddd;
	box-shadow: 2px 2px 5px black;
}

#results_search {
	z-index: 5;
	top: 28vh;
	/*left: 0vw;*/
	min-width: 15vw;
	max-width: 20vw;
	min-height: 30vh;
	/*max-height: 40vh;*/
}

#possibilities_search {
	z-index: 5;
	top: 0vh;
	left: 0vw;
	min-width: 15vw;
	max-width: 20vw;
	/*min-height: 100vh;*/
	max-height: 100vh;
}
/*
#possibilities_search_mobile{
	z-index: 5;
	top: 0vh;
	left: 0vw;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 15vh;
	max-height: 20vh;
}*/

#possibilitiesFather {
	/*overflow: auto;*/
	min-height: auto;
	max-height: auto;
	height: 100% !important;
}
.possibilities_result{
	border: none;
	z-index: 20;
}
/*.possibilities_result {
	border: 2px black solid;
	font-color: red;
	padding: 0.5rem;
}*/

/* .possibilities_result:hover ~ .sibling-marker {
  box-shadow: 5px 5px 10px blue;
} */

.possibilities_result:hover{
	cursor: pointer;
}
/* .possibilities_result:hover .card-header{
	background: #bbb;
}
.possibilities_result:hover .card-body{
	background: #ccc;
}
.possibilities_result:active .card-header{
	background: #bbb;
}
.possibilities_result:active .card-body{
	background: #ccc;
} */

.setting_icon {
	padding: 2rem;
	text-align: center;
	font-size: 20px;
}

.icon {
	font-weight: 800;
	/*width: 1.4rem;*/
	height: 1.4rem;
	padding: 0rem 0.3rem;
}

.pressed {
	background: blue;
}

.settingsButton {
	font-family: "Segoe UI",Arial,sans-serif, FontAwesome !important;
	background-color: #eee;
}

.dequa_area {
	/* padding: 2rem; */
	/* min-height: 5rem;
	font-size: 20px; */
	font-family: "Segoe UI",Arial,sans-serif, FontAwesome !important;
	/* border-radius: 0.75rem; */
	background-color: #eee;
}
.dequa_area:hover {
	background-color: #aaa;
}

.top-right-icon-img {
	max-width: 10rem;
	max-height: 10rem;
	width: 2.5rem;
	height: 2.5rem;
}
.results_title {
	font-weight: 900;
	font-size: 1.1rem;
}

.results_text{
	font-size: 0.75rem;
}

.right {
	text-align: right;
}
.pointer_div {cursor: pointer;}
.not-allowed {cursor: not-allowed;}
.space_above {
	margin-top: 0.2rem;
}

/*#possibilities_search_desktop {display: block;}
#possibilities_search_mobile {display: none;}*/
#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}
.map-container{
	position:relative;
	height: 100%;
	width: auto;
}
.shrinkedMapForBottomBar{
}
@media screen and (max-width: 812px) and (orientation: portrait) {

/*#possibilities_search_desktop {display: none;}
	#possibilities_search_mobile {display: block;}*/
	#possibilities_search{
		z-index: 5;
		top: 0vh;
		left: 0vw;
		min-width: 100vw;
		max-width: 100vw;
		min-height: 15vh;
		/*max-height: 20vh;*/
	}
	#sidebar{
		width: 100%;
		height: 45%;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		overflow-x: auto;
	}
	.shrinkedMapForBottomBar{
		height: 55%;
	}
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.scrollable-wrapper{
	overflow-x: auto;
}
#result_title{
	padding-top: 0;
	padding-bottom: 0;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  bottom: 0px;
	top: 50px;
  overflow: scroll;
}
.card-result:hover{
	background-color: #bbb;
}
.card{
	border: none;
}
.card-header{
	background-color: rgb(247, 247, 247);
}
.card-body{
	background-color: rgb(255, 255, 255);
}

@keyframes fade {
  from { opacity: 0.5; }
}

.blinking {
  animation: fade 0.5s infinite alternate;
}

.text-container {
	padding: 2rem;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-md {
  width: 75px !important;
  height: 75px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
		z-index: 100;
}

.feedback-label {
	font-size: 1rem;
}

.icon-dequa {
  display: block;
  background-image: url('/static/img/dequa_logo_v2.png');
	height: 16px;
  width: 16px;
}
.thicker {
	height: 3px;
}
.competitors {
	font-size: 1.2rem;
}
.title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 800;
}
.header_feedback {
		padding: 2rem;
}

.feedback_count {
	text-align: center;
	padding-top: 1rem;
}
.fb_name {
	font-weight: 400;
	font-size: 0.7rem;
}
.fb_content {
	margin: 10rem;
	margin-left: 2rem;
	padding-left: 2rem;
	font-size: 1rem;
}
.fb_col {
	border: 1px solid;
}
.navbar {
  margin-bottom: 0px !important;
}
