{% extends 'admin/master.html' %}
{% block body %}
	<body>
    <link rel="icon" href="/static/img/dequa_logo_v2.png">
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/css/L.Control.Locate.min.css">

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/L.Control.Locate.min.js"></script>
    <!-- PROVIDERS FOR DIFFERENT MAP TYPES -->
    <script src="/static/js/leaflet-providers.js"></script>
    <!-- <title>DeQua Feedback</title> -->
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/s.css" rel="stylesheet">
    <script>var feedback_dict_in_JS = {{feedback_dict | tojson}};</script>

    <script>
      // marker stuff
      var marker_icon = L.icon({
        iconUrl: '/static/img/icon_marker_50.png',
        iconRetinaUrl: '/static/img/icon_marker.png',
        iconSize: [33, 50],
        iconAnchor: [16, 49],
        popupAnchor: [0, -40]
      });

      // Options for the marker
      var markerOptions = {
        clickable: true,
        // si alza all'hover - non va :(
        riseOnHover: true,
        icon: marker_icon
      }
    </script>

		<div class="container">
			<div class="header_feedback">
				<div class="row">
					<div class="col-md-1"><img src="/static/img/dequa_logo_v2.png" width="100%"></div>
					<div class="col-md-11">
            <div class="title">DeQua Feedback</div>
            <div class="feedback_count" id="fb_count"></div>
          </div>
				</div>
			</div>

      <div class="feedbacks" id="feedback_container">
        <div class="row" id="feedback_row">
          <div class="col-md-3 fb-col" id="left_col" style="overflow:auto;"></div>
          <div class="col-md-5" id="map_feedback" style='width:100%; height:30em;'></div>
          <div class="col-md-4 fb-col" id="right_col" style="overflow:auto;"></div>
        </div>
      </div>

      <script>
        var fb_map = L.map('map_feedback').setView([45.435, 12.333], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					minZoom: 10,
					maxZoom: 19,
					minNativeZoom: 10,
					maxNativeZoom: 19,
					zoomControl: false,
					attribution: 'DeQua | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
				}).addTo(fb_map);
      </script>
      <!-- var layerGroup = L.layerGroup().addTo(map);

      // create markers
      L.marker().addTo(layerGroup);

      // remove all the markers in one go
      layerGroup.clearLayers(); -->
		</div><!-- END OF BIG CONTAINER (whole page) -->

	</body>
  <script>
    var fb_dicts = feedback_dict_in_JS;
    var markers_group = L.featureGroup(); //L.layerGroup();
    var markers_as_geojson = L.geoJSON([]);
    var pathLines = L.geoJSON([],{
      filter: function(feature) {
        // draw only lines!
        return feature.geometry.type == "LineString";
      },
      style: function(feature) {
        switch (feature.properties.street_type) {
          case 'canale': return {color: "#0000ff"};
          case 'ponte':  return {color: "#ffff00"};
          case 'calle':  return {color: "#ff0000"};
        }
      }
    });
    var cur_feed_dict;
    for (i=0; i<fb_dicts.length; i++) (function(i){
      cur_feed_dict = fb_dicts[i];
      var div_left_col = document.createElement("div");
      var div_right_col = document.createElement("div");
      // a div contains the text (this will later be better made, with maps and all)
      var div_container = document.createElement("div");
      div_container.classList.add("fb_content");
      div_container.id = "fb_content" + i; // we need id to toggle the visibility (or at least I think)
      div_container.style.display = "none";
      var item_text = document.createElement("div");
      // text we show
      item_text.innerHTML = "<p style='text-align:right'>" + cur_feed_dict.datetime + "</p>" +
                            "<hr><h4>DeQua Feedback " + i + "</h4>" +
                            "<hr><h5>Categoria:</h5>" + cur_feed_dict.category +
                            "<hr><h5>Feedback:</h5>" + cur_feed_dict.feedback +
                            "<hr><h5>Trovato</h5><b>indirizzo:</b>" + cur_feed_dict.found_string +
                            "<br>o <b>partenza:</b> " + cur_feed_dict.found_start + "<br><b>arrivo:</b> " + cur_feed_dict.found_end +
                            "<br><hr><h5>Cercato</h5><b>indirizzo:</b>" + + cur_feed_dict.searched_string +
                            "<br>o <b>partenza:</b> " + cur_feed_dict.searched_start + "<br><b>arrivo:</b> " + cur_feed_dict.searched_end +
                            "<br><hr><h6>Coordinate (se disponibili)</h6> <b>partenza:</b> " + cur_feed_dict.start_coord + "<br><b>arrivo:</b> " + cur_feed_dict.end_coord +
                            "<hr><h6>Json</h6> <p style='font-size:0.5rem'>" + cur_feed_dict.json + "</p>";

      // prepara i json
      // qui vengono salvati i dati sul container in modo da poterli avere
      // dentro il metodo del toggle
      var lines = cur_feed_dict.json;
      console.log('lines:' + lines);
      div_container.json_obj = lines;
      div_container.marker_partenza = cur_feed_dict.start_coord;
      div_container.marker_arrivo = cur_feed_dict.end_coord;
      console.log('container attribute ' + div_container.json_lines);
      // the content of the file is a hidden div that
      var list_item = document.createElement("div");
      list_item.classList.add("fb_name");
      list_item.innerHTML = "dq-fb " + cur_feed_dict.datetime;
      list_item.id = "fb_name" + i;
      list_item.onclick = function() { toggle_content(div_container.id, list_item.id); };

      // here we build the structure, so:
      // -- feedback_container
      //  |-- row
      //    |-- col-3
      //      |-- list_item
      //    |-- col-9
      //      |-- div_container
      //        |-- item_text
      div_container.appendChild(item_text);
      div_right_col.appendChild(div_container);
      div_left_col.appendChild(list_item);
      document.getElementById("left_col").appendChild(div_left_col);
      document.getElementById("right_col").appendChild(div_right_col);
    })(i);

    // hide the contents and show the one we clicked
    function toggle_content(el_id, list_id) {
      // if it's already open, just close it
      if (document.getElementById(el_id).style.display == "inline") {
        document.getElementById(el_id).style.display = "none";
        document.getElementById(list_id).style.color = "black";
      }
      else {
        // close all the others
        console.log("trying to show " + el_id);
        var fb_contents = document.getElementsByClassName("fb_content");
        for (j=0; j<fb_contents.length; j++) {
          fb_contents[j].style.display = "none";
        }
        // put it back to black color
        var fb_names = document.getElementsByClassName("fb_name");
        for (j=0; j<fb_names.length; j++) {
          fb_names[j].style.color = "black";
        }
        //show the good goood one
        document.getElementById(el_id).style.display = "inline";
        // color blue to show it's active
        console.log("coloring the list " + el_id);
        document.getElementById(list_id).style.color = "blue";
      }
      pathLines.clearLayers();
      markers_group.clearLayers();
      markers_as_geojson.clearLayers();
      var cur_obj_with_data = document.getElementById(el_id);
      // here the json file
      var json_obj = cur_obj_with_data.json_obj;
      // creating markaers.
      // create marker for location
      var marker_start;
      if (json_obj !== 'None') {

        console.log("got the object: creating markers..");
        if (cur_obj_with_data.marker_partenza != 0)
        {
          console.log("marker start from coords: " + cur_obj_with_data.marker_partenza);
          marker_start = L.marker([cur_obj_with_data.marker_partenza[0], cur_obj_with_data.marker_partenza[1]], markerOptions);
          console.log(markerOptions);
        }
        else {
          console.log("marker start from json: " + json_obj.partenza[0]);
          marker_start = L.marker([json_obj.partenza[0].coordinate[0], json_obj.partenza[0].coordinate[1]], markerOptions);
        }
        var marker_end;
        if (cur_obj_with_data.marker_end != undefined)
        {
          console.log("marker end from coord: " + cur_obj_with_data.marker_end);
          marker_end = L.marker([cur_obj_with_data.marker_end[0], cur_obj_with_data.marker_end[1]], markerOptions);
        }
        else {
          console.log("marker end from json: " + json_obj.arrivo);
          if (json_obj.arrivo != "no_end") {
            console.log("marker end really exists in the json:" + json_obj.arrivo[0].coordinate[0]);
            marker_end = L.marker([json_obj.arrivo[0].coordinate[0], json_obj.arrivo[0].coordinate[1]], markerOptions);
          }
        }
        // draw marker
        marker_start.addTo(markers_group);
        if (typeof marker_end != 'undefined')
        { marker_end.addTo(markers_group); }
        console.log("marker start", + marker_start);
        console.log('markers_group', + markers_group);
        //var geojson_markers = markers_group.toGeoJSON();
        //markers_as_geojson.addData(geojson_markers);
        //markers_as_geojson.addTo(fb_map);
        markers_group.addTo(fb_map);
        fb_map.fitBounds(markers_group.getBounds(), {paddingTopLeft: [10, 10], paddingBottomRight: [10,10]})
        // draw the lines
        if (typeof json_obj.path.shape_list !== 'undefined')
        {
          //console.log("do not print this if undefined: " + json_obj.path.shape_list);
          var street_paths = json_obj.path.shape_list;
          pathLines.addData(street_paths);
        	pathLines.addTo(fb_map);
          fb_map.fitBounds(pathLines.getBounds(), {paddingTopLeft: [10, 10], paddingBottomRight: [10,10]});
        }
      }
    }
  </script>
  <script>
    var fb_names = feedback_dict_in_JS.fb_names;
    // set the html for the counter
    document.getElementById('fb_count').innerHTML = "Ci sono " + fb_dicts.length + " files di feedback";
  </script>

{% endblock body %}
