{% extends 'admin/master.html' %}
{% block body %}
<!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<style>
    .centered {text-align: center}
    .left {text-align: left; display: inline;}
    .right {text-align: right; display: inline;}
    .spaced {padding: 2rem 5rem;}
    .btn-trf-home {margin: 0.5rem; color: #000000; background-color: #eab922}
    .btn-trf-info {margin: 0.5rem; color: #000000; background-color: #ac22ea}
    .btn-trf-others {margin: 0.5rem; color: #000000; background-color: #2226ea}
    .btn-trf-search {margin: 0.5rem; color: #000000; background-color: #22bcea}
    .btn-trf-total {margin: 0.5rem; color: #000000; background-color: #22ea44}
    .dot {
      height: 20px;
      width: 20px;
      border: 3px solid;
      border-radius: 50%;
      display: inline-block;
    }
    .legend {
      font-size: 1.4rem;
      border: 1px solid black;
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
</style>
<script>
  var usage_dicts = {{usage_dict | tojson}};
  // all the data as list of dictionary (a single visit is a dict)
  var all_the_usage = usage_dicts.usage_dict;
  // all the data in dictionaries (prepared from python)
  var big_data = usage_dicts.data_dict;
  // general info about the maximum, averages or trends
  var g_info = usage_dicts.g_info;
  var stats_url = big_data.stats_url;
  var stats_url_pie = big_data.stats_url_pie;
  var traffic_whole = big_data.traffic_whole; // the whole traffic since website started
  var traffic_last_10_weeks = big_data.traffic_last_10_weeks;
  var traffic_last_week = big_data.traffic_last_week;
  var yesterday = big_data.yesterday;
  var today = big_data.today;
  var dev_stats = big_data.devices_stats;
  var searches_stats = big_data.searched_stats;

  var formatTime = d3.timeFormat("%Y-%m-%d")

  var nested_data = d3.nest()
  .key(function(d) { dt = d3.isoParse(d.datetime); ymd = formatTime(dt);
    return ymd.split('-').slice(0, 3).join('-');  })
  .sortKeys(d3.ascending)
  .rollup(function(leaves) {
      return {
        user_access: d3.sum(leaves, function(d){ return 1; })
      };
  })
  .entries(all_the_usage);

  // colors for ['home', 'info', 'others', 'search']
  var traffic_fill_colors = ['#eab922', '#89e152', '#44d5d8', '#4064e5', ]
  var traffic_stroke_cols = ['#e58b00', '#419220', '#25919a', '#18328d']
</script>
    <body>

        <h1 class="centered spaced">DeQua Ethical Analytics</h1>

        <div class="container" id="vue-app-div">
            <div class="row">
                <div class="col-3 spaced centered"><button type="button" class="btn btn-primary" v-on:click="showTraffic">Traffico</button></div>
                <div class="col-3 spaced centered"><button type="button" class="btn btn-success" v-on:click="showPages">Divisione Pagine</button></div>
                <div class="col-3 spaced centered"><button type="button" class="btn btn-warning" v-on:click="showDevices">Dispositivi</button></div>
                <div class="col-3 spaced centered"><button type="button" class="btn btn-danger" v-on:click="showSearches">Ricerche</button></div>
            </div>
            <div class="traffic-container" v-show="showingTraffic">
                <div id="all_visits" v-show="showingWholeTraffic"></div>
                <div id="last_10_weeks_visits" v-show="showingLast10Weeks"></div>
                <div id="last_week_visits" v-show="showingLastWeek"></div>
                <div id="yday_visits" v-show="showingYesterday"></div>
                <div id="today_visits" v-show="showingToday"></div>
                <div class="legend">
                  <h3>Legenda:</h3>
                  <div class="row centered">
                    <div class="col-3 centered"><span class="dot" style="border-color: #e58b00; background-color: #eab922;"></span> = Home</div>
                    <div class="col-3 centered"><span class="dot" style="border-color: #419220; background-color: #89e152;"></span> = Ricerche</div>
                    <div class="col-3 centered"><span class="dot" style="border-color: #25919a; background-color: #44d5d8;"></span> = Pagine Info</div>
                    <div class="col-3 centered"><span class="dot" style="border-color: #18328d; background-color: #4064e5;"></span> = Altro</div>
                  </div>
                </div>
                <div class="row centered">
                    <div class="col-1"></div>
                    <div class="col-2 centered">
                        <button type="button" class="btn btn-primary" v-on:click="showWholeTraffic">Tutte le visite</button>
                    </div>
                    <div class="col-2 centered">
                        <button type="button" class="btn btn-success" v-on:click="showLast10Weeks">Ultime 10 Settimane</button>
                    </div>
                    <div class="col-2 centered">
                        <button type="button" class="btn btn-success" v-on:click="showLastWeek">Ultima Settimana</button>
                    </div>
                    <div class="col-2 centered">
                        <button type="button" class="btn btn-danger" v-on:click="showYesterday">Ieri</button>
                    </div>
                    <div class="col-2 centered">
                        <button type="button" class="btn btn-danger" v-on:click="showToday">Oggi</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="traffic-container" v-show="showingPages">
                <div id="page_stats_pie" v-show="showingPie"></div>
                <div id="page_stats_bars" v-show="showingBars"></div>
                <div class="row">
                    <div class="col-6 centered">
                        <button type="button" class="btn btn-primary" v-on:click="showPie">Torta</button>
                    </div>
                    <div class="col-6 centered">
                        <button type="button" class="btn btn-success" v-on:click="showBars">Barre</button>
                    </div>

                </div>
            </div>
            <div class="traffic-container" v-show="showingDevices">
                <div id="devices_stats_pie"></div>
            </div>
            <div class="traffic-container" v-show="showingSearches">
                <div id="searches_stats_div"></div>
            </div>
        </div>
        <div><br><br></div>
    </body>
    <script>
      var app5 = new Vue({
        el: '#vue-app-div',
        data: {
          showingTraffic: true,
          showingPages: false,
          showingWholeTraffic: false,
          showingLast10Weeks: false,
          showingLastWeek: true,
          showingYesterday: false,
          showingToday: false,
          showingPie: true,
          showingBars: false,
          showingDevices: false,
          showingSearches: false
        },
        methods: {
          showTraffic: function() {
            if (!this.showingTraffic) {this.showingTraffic = true; this.showingPages = false; this.showingDevices = false; this.showingSearches = false;};
          },
          showPages: function() {
            if (this.showingPages == false) {this.showingTraffic = false; this.showingPages = true; this.showingDevices = false; this.showingSearches = false;};
          },
          showDevices: function() {
            if (this.showingDevices == false) {this.showingTraffic = false; this.showingPages = false; this.showingDevices = true; this.showingSearches = false;};
          },
          showSearches: function() {
            if (this.showingSearches == false) {this.showingTraffic = false; this.showingPages = false; this.showingDevices = false; this.showingSearches = true;};
          },
          // sotto metodi per i bottoni sotto
          showPie: function() {
            if (this.showingPie == false) {this.showingPie = true; this.showingBars = false;};
          },
          showBars: function() {
            if (this.showingBars == false) {this.showingPie = false; this.showingBars = true;};
          },
          showWholeTraffic: function() {
            if (this.showingWholeTraffic == false) {this.showingWholeTraffic = true; this.showingLast10Weeks = false; this.showingLastWeek = false; this.showingYesterday = false; this.showingToday = false;};
          },
          showLast10Weeks: function() {
            if (this.showingLast10Weeks == false) {this.showingWholeTraffic = false; this.showingLast10Weeks = true; this.showingLastWeek = false; this.showingYesterday = false; this.showingToday = false;};
          },
          showLastWeek: function() {
            if (this.showingLastWeek == false) {this.showingWholeTraffic = false; this.showingLast10Weeks = false; this.showingLastWeek = true; this.showingYesterday = false; this.showingToday = false;};
          },
          showYesterday: function() {
            if (this.showingYesterday == false) {this.showingWholeTraffic = false; this.showingLast10Weeks = false; this.showingLastWeek = false; this.showingYesterday = true; this.showingToday = false;};
          },
          showToday: function() {
            if (this.showingToday == false) {this.showingWholeTraffic = false; this.showingLast10Weeks = false; this.showingLastWeek = false; this.showingYesterday = false; this.showingToday = true;};
          }
        }
      })
	</script>

<!-- PIE DEVICES -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="/static/js/v4w_js/drawing_with_d3.js"></script>
<script>
  var Tooltip = d3.select("#page_stats_pie")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")
  //drawLineFromPandas("#all_visits", all_the_usage, "%Y-%m-%d");
  //drawLineWithDate("#all_visits", traffic_whole);
  drawLinesWithDateCustom("#last_10_weeks_visits", traffic_last_10_weeks, traffic_fill_colors, traffic_stroke_cols);
  drawLinesWithDateCustom("#last_week_visits", traffic_last_week, traffic_fill_colors, traffic_stroke_cols);
  drawLinesWithDateCustom("#all_visits", traffic_whole, traffic_fill_colors, traffic_stroke_cols);
  drawLineWithNums("#yday_visits", yesterday, 24, g_info.max_visits_yday);
  drawLineWithNums("#today_visits", today, 24, g_info.max_visits_today);
  drawPieBars("#page_stats", stats_url, g_info.max_pages);
  drawPieBars("#searches_stats_div", searches_stats, g_info.max_search);
  drawPieFromPandas("#page_stats_pie", all_the_usage, 'browser');
  drawPieFromPandas("#devices_stats_pie", all_the_usage, 'platform');
</script>

{% endblock %}
