{% extends 'info/info_base.html' %}
{% block title %}
	DeQua | Chi siamo
{% endblock %}
{% block body %}

  <div class="text-container">
    <h1 style='text-align:center; margin-bottom:1.5em;'>Chi siamo?</h1>

		<p>Luca, Ale, Palma, Brino, Michele, Fabio e Christian</p>
    <p>
    Il nostro progetto è un progetto aperto a tutti quelli che condividono i nostri valori.
    Stiamo lavorando a una specie di statuto, ma per farla breve: <br>
    <ul>
      <li><b>Entusiasmo: </b> la chiave per lavorare insieme e avere voglia di fare qualcosa, indipendentemente dal risultato o da un ritorno economico. Requisito di base spesso sottovalutato: avere voglia di fare.</li>
      <li><b>Amore per la citta: </b>indipendentemente se veneziani di origine, di adozione o semplicemente amanti della citta, ci accomuna un desiderio comune di salvaguardare questo tesoro.</li>
      <li><b>Sostenibilita:</b> ci interessa creare un modello sostenibile dal punto di vista ecologico, sociale, democratico ed economico. Anche a scapito di qualche perdita nel profitto.</li>
      <li><b>Apertura: </b>sempre disponibili a cambiare la propria idea, ci impegnamo nel creare una struttura democratica senza gerarchie per quanto riguarda il nostro gruppo, e cerchiamo dove possibile di costruire un'infrastruttura (digitale e non) che si basi su principi di apertura e scambio di idee.</li>
      <li><b>Etica: </b>cerchiamo di accordarci e mantenere i principi di etica basici per la collaborazione e il vivere insieme. Siamo sempre pronti a criticare, ma anche a discutere e riconsiderare.</li>
      <li><b>Innovazione: </b>l'obiettivo è di riuscire a migliorare la situazione esistente, ricordando che a volte fare meno può voler dire ottenere di più. La tecnologia dev'essere al servizio delle persone e non viceversa.</li>
      <li><b>Tessuto sociale: </b>vorremmo creare valore, aggregare competenze e cercare di avere un impatto positivo anche nel lato sociale.</li>
    </ul>
    </p>

  </div>
{% endblock %}
