{% extends 'info/info_base.html' %}
{% block title %}
	DeQua | Contattaci
{% endblock %}
{% block body %}
	<div class="text-container">
  	<h1 style='text-align:center; margin-bottom:1.5em;'>Vuoi contattarci?</h1>

    Per qualsiasi cosa: idee, problemi, critiche, ringraziamenti o quello che ti viene in mente..<br><br>
    <div class="boot_grid">
      <div class="row p-2">
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-envelope"></i></p>
          Scrivici una mail a <a href="mailto:info@dequa.it">info@dequa.it <i class="fa fa-envelope" aria-hidden="true"></i></a> !
        </div>
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-telegram"></i></p>
          Entra nel nostro gruppo <a href="https://t.me/dequaVenezia">Telegram <i class="fa fa-telegram" aria-hidden="true"></i></a>!
        </div>
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-slack"></i></p>
          Unisciti alla community su <a href="mailto:info@dequa.it">Slack <i class="fa fa-slack" aria-hidden="true"></i></a>!
        </div>
      </div>
    </div>
	</div>
{% endblock %}
