{% extends 'admin/base.html' %}
{% block access_control %}
  {% if current_user.is_authenticated==True %}
    <div class='navbar-nav navbar-right'>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_user.email }}
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('security.logout') }}">Log out</a>
        </div>
      </div>
      <!-- <a data-toggle='dropdown' role='button'>
          <i class="glyphicon glyphicon-user"></i>
          {{ current_user.email }}
          <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
      </ul> -->
    </div>
  {% endif %}
{% endblock %}
