<!DOCTYPE html>
<html>
	<head>
		<title>Chi siamo? | De Qua</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- ******************** -->
		<!-- ** BEGIN SEO PART ** -->
		<!-- we should think about SEO, keywords, descriptions, ecc... -->
		<meta name="description" content="Scopri chi sono i personaggi di questo fantastico progetto | DeQua">
		<!-- penso che ora non venga più usata la tag keyword -->
		<meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere, Barca">
		<!-- autori -->
		<meta name="author" content="DeQua">
		<!-- Metadati per preview -->
		<meta property="og:title" content="DeQua">
		<meta property="og:description" content="Scopri chi sono i personaggi di questo fantastico progetto | DeQua">
		<meta property="og:url" content="https://www.dequa.it/chisiamo">
		<!-- *** END SEO PART *** -->
		<!-- ******************** -->

		<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
	  <link rel="stylesheet" href="/static/css/s.css" >
	  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

	  <link rel="icon" href="/static/img/dequa_logo_v2.png">
	</head>
<body>

  <!-- NAVBAR (expand at md, taken from Bootstrap Example)-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style='margin-bottom:0px;'>
    <a class="navbar-brand" href="#">DeQua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Torna alla Mappa </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Info Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comesiusa">Come si usa?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/howitsmade">Com'è fatto?</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/chisiamo">Chi siamo?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partecipare">Partecipare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contatti">Contatti</a>
        </li>
    </div>
  </nav>

  <div class="text-container">
    <h1 style='text-align:center; margin-bottom:1.5em;'>Chi siamo?</h1>

		<p>Luca, Ale, Palma, Brino, Michele, Fabio e Christian</p>
    <p>
    Il nostro progetto è un progetto aperto a tutti quelli che condividono i nostri valori.
    Stiamo lavorando a una specie di statuto, ma per farla breve: <br>
    <ul>
      <li><b>Entusiasmo: </b> la chiave per lavorare insieme e avere voglia di fare qualcosa, indipendentemente dal risultato o da un ritorno economico. Requisito di base spesso sottovalutato: avere voglia di fare.</li>
      <li><b>Amore per la citta: </b>indipendentemente se veneziani di origine, di adozione o semplicemente amanti della citta, ci accomuna un desiderio comune di salvaguardare questo tesoro.</li>
      <li><b>Sostenibilita:</b> ci interessa creare un modello sostenibile dal punto di vista ecologico, sociale, democratico ed economico. Anche a scapito di qualche perdita nel profitto.</li>
      <li><b>Apertura: </b>sempre disponibili a cambiare la propria idea, ci impegnamo nel creare una struttura democratica senza gerarchie per quanto riguarda il nostro gruppo, e cerchiamo dove possibile di costruire un'infrastruttura (digitale e non) che si basi su principi di apertura e scambio di idee.</li>
      <li><b>Etica: </b>cerchiamo di accordarci e mantenere i principi di etica basici per la collaborazione e il vivere insieme. Siamo sempre pronti a criticare, ma anche a discutere e riconsiderare.</li>
      <li><b>Innovazione: </b>l'obiettivo è di riuscire a migliorare la situazione esistente, ricordando che a volte fare meno può voler dire ottenere di più. La tecnologia dev'essere al servizio delle persone e non viceversa.</li>
      <li><b>Tessuto sociale: </b>vorremmo creare valore, aggregare competenze e cercare di avere un impatto positivo anche nel lato sociale.</li>
    </ul>
    </p>

  </div>
</body>
</html>
