<!DOCTYPE html>
<html>
	<title>Demo - De Qua</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- we should think about SEO, keywords, descriptions, ecc... -->
	<meta name="description" content="Find your way through Venice - Trova la tua strada a Venezia">
	<!-- penso che ora non venga più usata la tag keyword -->
  <meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere">
	<!-- autori -->
	<meta name="author" content="Dequa">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/static/css/s.css" >
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

  <link rel="icon" href="/static/img/dequa_logo_v2.png">

<body>

  <!-- NAVBAR (expand at md, taken from Bootstrap Example)-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style='margin-bottom:0px;'>
    <a class="navbar-brand" href="#">DeQua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Torna alla Mappa </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Info Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comesiusa">Come si usa?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/howitsmade">Com'è fatto?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chisiamo">Chi siamo?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partecipare">Partecipare</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contatti">Contatti</a>
        </li>
    </div>
  </nav>

  <div class="text-container">
    <h1 style='text-align:center; margin-bottom:1.5em;'>Vuoi contattarci?</h1>

    Per qualsiasi cosa: idee, problemi, critiche, ringraziamenti o quello che ti viene in mente..<br><br>
    <div class="boot_grid">
      <div class="row p-2">
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-envelope"></i></p>
          Scrivici una mail a <a href="mailto:info@dequa.it">info@dequa.it <i class="fa fa-envelope" aria-hidden="true"></i></a> !
        </div>
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-telegram"></i></p>
          Entra nel nostro gruppo <a href="https://t.me/dequaVenezia">Telegram <i class="fa fa-telegram" aria-hidden="true"></i></a>!
        </div>
        <div class="col-md-4 p-1" style="text-align: center;">
          <p style='font-size:4rem'><i class="fa fa-slack"></i></p>
          Unisciti alla community su <a href="mailto:info@dequa.it">Slack <i class="fa fa-slack" aria-hidden="true"></i></a>!
        </div>
      </div>
    </div>


      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </p>
