<!DOCTYPE html>
<html>
	<title>De Qua</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- we should think about SEO, keywords, descriptions, ecc... -->
	<meta name="description" content="Find your way through Venice - Trova la tua strada a Venezia">
	<!-- penso che ora non venga più usata la tag keyword -->
  <meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere">
	<!-- autori -->
	<meta name="author" content="Dequa">

  <link rel="stylesheet" href="/static/css/s.css" >
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
  <link rel="icon" href="/static/img/dequa_logo_v2.png">
  <body>
		<!-- NAVBAR (expand at md, taken from Bootstrap Example)-->
	  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style='margin-bottom:10px;'>
	    <a class="navbar-brand" href="#">DeQua</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarsExample04">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
	          <a class="nav-link" href="/">Torna alla Mappa </span></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/info">Info Home<span class="sr-only">(current)</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/comesiusa">Come si usa?</a>
	        </li>
					<li class="nav-item active">
	          <a class="nav-link" href="/howitsmade">Com'è fatto?</a>
	        </li>
          <li class="nav-item">
            <a class="nav-link" href="/chisiamo">Chi siamo?</a>
          </li>
					<li class="nav-item">
	          <a class="nav-link" href="/idee">Idee per il futuro</a>
	        </li>
					<li class="nav-item">
	          <a class="nav-link" href="/partecipare">Partecipare</a>
	        </li>
					<li class="nav-item">
	          <a class="nav-link" href="/contatti">Contatti</a>
	        </li>
	    </div>
	  </nav>

		<div class="text-container">
			<h1 style='text-align:center; margin-bottom:1.5em;'>Com'è fatto DeQua?</h1>
      <p>
        Il processo è il seguente: noi otteniamo la mappa di Venezia e i Punti di Interesse da OSM, gli indirizzi dal Comune di Venezia, e ci costruiamo un grafo.
        In questo grafo ci sono migliaia di nodi, legati tra di loro da degli archi con delle caratteristiche.
        Per esempio, una casa, una chiesa o un bar sono nodi. Una calle o un canale sono archi.
        Ora, il primo step è cercare di capire cosa l'utente sta cercando.
        Per quello usiamo una barra di ricerca e una libreria (fuzzysearch) per trovare la corrispondenza nel nostro database.
        Nel caso dovessimo creare una mappa, usiamo una libreria (networkx) e descriviamo il problema come trovare il percorso più breve tra due nodi del grafo.
        Avendo costruito il grafo e potendo scegliere la definizione di <i>percorso più breve</i>, abbiamo spazio di manovra.
        Per questo possiamo calcolare percorsi a piedi, percorsi con meno ponti, percorsi in barca a remi, percorsi in barca a motore, percorsi in caso di acqua alta e molto altro ancora.
      </p>

      <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
        <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
      </svg> Protezione dei dati</h3>
      <p>
        Non salviamo attivamente nessun dato personale sui server.
        Al momento salviamo le ricerche effettuate (il testo che l'utente ha inserito) per migliorare l'algoritmo di ricerca nel database e alcune informazioni base che vengono sempre mandate dal browser: ip, browser, sistema operativo.
        Tutti i dati vengono salvati lato app utilizzando il plugin <a href= https://github.com/ashcrow/flask-track-usage>Flask-Track-Usage</a>, questo vuol dire che le informazioni non vengono mandate a nessun servizio esterno che possa analizzare il traffico e i dati degli utenti (ad esempio GoogleAnalytics).
        I server appartengono a PythonAnywhere (vedi sezione <a href="#tools">Strumenti</a>).
        Per il funzionamento del sito, un cookie di sessione verrà salvato ogni volta che il sito viene visitato.
        Il cookie è visibile dall'inspector del browser nella sezione <i>Storage</i> e come potete vedere, non salva nulla riguardante i dati personali o di posizione.
        Se l'utente sceglie di usare la propria posizione, il browser usa le impostazioni di default dell'utente, e nel caso venga negata, lancia semplicemente un'errore.
        Se l'utente non condivide la propria posizione, non viene usata per altri scopi.
        Se avete domande in materia, scriveteci pure!
      </p>

      <h3 id="coding">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-terminal-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354L4.793 6.5 3.146 4.854a.5.5 0 1 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708z"/>
        </svg> In che linguaggio scrivete?
      </h3>
      <p>
        Scriviamo principalmente in python. Il sito è fatto usando HTML/CSS e JavaScript, ma il cuore del progetto rimane in python.
      </p>

      <h3 id="tools">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
          <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
        </svg> Che strumenti utilizzate?
      </h3>
      <p>
        Proviamo ad utilizzare strumenti che seguano l'idea del codice aperto. Non siamo ancora al 100%, ma ci stiamo lavorando.<br>
        Se avete suggerimenti o critiche, entrambe sono benvenute! Fateci sapere<br>
        Al momento usiamo:
      </p>
      <div class="row tools-container">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/atom.png" alt="logo Atom">
            <div class="card-body">
              <h5 class="card-title">Atom</h5>
              <p class="card-text">Un editor di testo con codice libero sviluppato da <a href="https://github.com/">github</a> che permettere a diverse persone di lavorare <a href="https://teletype.atom.io/">in contemporanea.</a></p>
              <a href="https://atom.io/" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/PA-logo.svg" alt="logo pa">
            <div class="card-body">
              <h5 class="card-title">PythonAnywhere</h5>
              <p class="card-text">Un servizio che permette di sviluppare un sito in python. Ultimamente stanno aggiungendo supporto per l'insegnamento! Fornisce un server con python installato, per cui non ha codice aperto, a quanto sappiamo. I server usati soddisfano <a href="https://blog.pythonanywhere.com/162/">i criteri europei pre la privacy</a>, ma al momento sono in America. Stiamo lavorando per migliorare questo aspetto.</p>
              <a href="https://www.pythonanywhere.com" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="https://www.studyinvenice.it/assets/images/citta-venezia.png" alt="logo venezia">
            <div class="card-body">
              <h5 class="card-title">OpenData Comune di Venezia</h5>
              <p class="card-text">Il nostro comune mette a disposizione un sacco di dati di ottima qualità sulla nostra città! Grazie mille!</p>
              <a href="https://www.comune.venezia.it/it/content/open-data" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/osm.svg" alt="logo OSM">
            <div class="card-body">
              <h5 class="card-title">OpenStreetMap</h5>
              <p class="card-text">Con uno sforzo enorme per mappare tutto il mondo, OSM mette a disposizione tutte le mappe di tutto il mondo per tutti completamente gratis! Non è fantastico?</p>
              <a href="https://www.openstreetmap.org" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/GitHub-Mark.png" alt="logo github">
            <div class="card-body">
              <h5 class="card-title">Github</h5>
              <p class="card-text">Uno spazio dove ospitiamo il nostro codice che usa <a href="https://git-scm.com/">git</a> per il meccanismo di controllo della versione. Purtroppo, solo parzialmente a codice aperto.</p>
              <a href="https://github.com/" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/leaflet.png" alt="logo leaflet">
            <div class="card-body">
              <h5 class="card-title">Leaflet</h5>
              <p class="card-text">Fantastica libreria JavaScript con codice aperto che fa magie disegnando tutto quello che vogliamo sopra le nostre mappe!</p>
              <a href="https://leafletjs.com/" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/bootstrap.png" alt="logo bs">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Fantastica libreria HTML/CSS/Javascript con codice aperto per adattare il nostro sito a telefoni e computer!</p>
              <a href="https://getbootstrap.com" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/assets/tools/qgis.jpg" alt="logo qgis">
            <div class="card-body">
              <h5 class="card-title">QGIS</h5>
              <p class="card-text">Programma con codice aperto per la gestione di file geografici che ci permette di manipolare i file del comune e costruire le reti di strutture a Venezia!</p>
              <a href="https://getbootstrap.com" class="btn btn-primary">dacci un'occhiata!</a>
            </div>
          </div>
        </div>
      </div><!-- END CONTAINER TOOLS -->

    </div><!-- END TEXT CONTAINER -->

  </body>
</html>
