<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ******************** -->
	<!-- ** BEGIN SEO PART ** -->
	<meta name="description" content="Sviluppo democratico: vota le idee che ti piacciono di più e DeQua le renderà realtà! Fai parte anche tu del nostro progetto, abbiamo bisogno di te!">
	<!-- penso che ora non venga più usata la tag keyword -->
	<meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere, Barca">
	<!-- autori -->
	<meta name="author" content="DeQua">
	<!-- Metadati per preview -->
	<meta property="og:title" content="DeQua">
	<meta property="og:description" content="Sviluppo democratico: vota le idee che ti piacciono di più e DeQua le renderà realtà! Fai parte anche tu del nostro progetto, abbiamo bisogno di te!">
	<meta property="og:url" content="https://www.dequa.it/idee">
	<!-- *** END SEO PART *** -->
	<!-- ******************** -->

	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
	<link rel="stylesheet" href="/static/css/s.css" >
	<link rel="stylesheet" href="/static/css/dequa.css" >
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="icon" href="/static/img/dequa_logo_v2.png">
</head>
<body>
	<!-- NAVBAR (expand at md, taken from Bootstrap Example)-->
	<nav class="navbar navbar-expand-md navbar-light dq-navbar" style='margin-bottom:0px;'>
		<a class="navbar-brand" href="#">DeQua</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Torna alla Mappa </span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/info">Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/comesiusa">Come si usa?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/howitsmade">Com'è fatto?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chisiamo">Chi siamo?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/idee">Idee per il futuro</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/partecipare">Partecipare</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contatti">Contatti</a>
				</li>
		</div>
	</nav>
	{% block body %}
	{% endblock %}
</body>
<!-- Footer -->
<footer class="page-footer font-small dq-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
		DeQua 2020 <br>
		Made with <i class="fa fa-heart" aria-hidden="true"></i> for Venice <br>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
