<!DOCTYPE html>
<html>
<head>
	<title>De Qua | Mobilità a Venezia: trova le strade a piedi o in barca</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

	<!-- we should think about SEO, keywords, descriptions, ecc... -->
	<meta name="description" content="Trova la tua destinazione e la strada migliore a Venezia! Vai a piedi, evita i ponti, arrivaci in barca! Tutti i servizi che ti servono. Dacci un'occhiata!">
	<!-- penso che ora non venga più usata la tag keyword -->
	<meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere, Barca">
	<!-- autori -->
	<meta name="author" content="DeQua">
	<!-- Metadati per preview -->
	<meta property="og:title" content="DeQua">
	<meta property="og:description" content="Trova la tua destinazione e la strada migliore a Venezia! Vai a piedi, evita i ponti, arrivaci in barca! Tutti i servizi che ti servono. Dacci un'occhiata!">
	<meta property="og:url" content="https://www.dequa.it">

	<link rel="manifest" href="manifest.json" />
	<!-- ios support -->
	<link rel="apple-touch-icon" href="/static/pwa/icon-72x72.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-96x96.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-128x128.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-144x144.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-152x152.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-192x192.png" />
	<link rel="apple-touch-icon" href="/static/pwa/icon-256x256.png" />
	<meta name="apple-mobile-web-app-status-bar" content="#EDBD3B" />
	<meta name="theme-color" content="#EDBD3B" />
	<!-- Meta Tag Specifici per OS Windows -->
	<meta name="application-name" content="DeQua" />
	<meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
	<meta name="msapplication-TileColor" content="#EDBD3B">


	<!-- <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css"> -->
	<!-- <link rel="stylesheet" href="/static/css/w3s.css"> -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/s.css">
	<link rel="stylesheet" href="/static/css/dequa.css">
	<link rel="stylesheet" href="/static/css/easy-button.css">
	<link rel="stylesheet" href="/static/css/MarkerCluster.css">
	<link rel="stylesheet" href="/static/css/MarkerCluster.Default.css">
	<link rel="icon" href="/static/img/dequa_logo_v2.png">

	<link rel="stylesheet" href="/static/css/leaflet.css">
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
	<!-- <script src="https://kit.fontawesome.com/c02ec4320e.js" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="/static/css/L.Control.Locate.min.css">

	<!-- launch the service worker for the PWA -->
	<script src="/static/js/app.js" async></script>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="/static/js/leaflet.js"></script>
	<script src="/static/js/L.Control.Locate.min.js"></script>
	<!-- PROVIDERS FOR DIFFERENT MAP TYPES -->
	<script src="/static/js/leaflet-providers.js"></script>
	<!-- Our own (little) javascript library. -->
	<script src="/static/js/v4w_js/feedback.js"></script>
	<script src="/static/js/v4w_js/manage_user_input.js"></script>
	<script src="/static/js/v4w_js/bottom_side_bars.js"></script>
	<script src="/static/js/v4w_js/map_objects.js"></script>
	<script src="/static/js/v4w_js/results_window.js"></script>
	<script src="/static/js/v4w_js/init.js"></script>
	<script src="/static/js/v4w_js/social_button.js"></script>
	<!-- BOOTSTRAP -->
	<script src="/static/js/jquery-3.5.1.min.js"></script>
	<script src="/static/js/bootstrap.bundle.min.js"> </script>
	<!--<script src="/static/js/owl.carousel.min.js"></script>-->
	<script src="/static/js/easy-button.js"></script>
	<script src="/static/js/leaflet.markercluster.js"></script>
	<script src="/static/js/leaflet-color-markers.js"></script>
	<!-- for the social button -->
	<script async src="https://static.addtoany.com/menu/page.js"></script>
</head>
<body>
	<!-- Initialize popover -->
	<script>
		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		// Funzione per eliminare la rotella e ristabilire la corretta opacità della mappa quando si clicca il pulsante indietro dopo una ricerca. Grazie a https://stackoverflow.com/a/32566655
		$(window).bind("pageshow", function(event) {
			hidePreLoader();
		});

		// Funzione per guardare se su mobile è attivata la tastiera (codice modificato da https://stackoverflow.com/a/11650231)
		var is_keyboard = false;
		var initial_screen_size = window.innerHeight;
		var is_bottom_bar = areWeUsingBottomBar();
		/* Android */
		window.addEventListener("resize", function() {
			if (isTouchDevice) {
		    is_keyboard = (window.innerHeight < initial_screen_size);
		    updateViewsAfterResizeWindow();
			}
			if (!is_bottom_bar && areWeUsingBottomBar()) {
				console.log("move the sidebar on bottom")
				is_bottom_bar = true;
				changePositionSidebar();
			} else if (is_bottom_bar && !areWeUsingBottomBar()) {
				console.log("move the bottombar on side")
				is_bottom_bar = false;
				changePositionSidebar();
			}
		}, false);

		// /* iOS */
		// $("input").bind("focus blur",function() {
	  //   $(window).scrollTop(10);
	  //   is_keyboard = $(window).scrollTop() > 0;
	  //   $(window).scrollTop(0);
	  //   updateViews();
		// });

		// Variabile per prendere facilmente lo stile css di dequa
		var style = getComputedStyle(document.body);
	</script>

	<!-- Container con sidebar e mappa -->
	<div id=container>
		<div id="sidebar" style="display: none;">
			<div class=sidebar-wrapper>
				<div class="card" id="features">
					<div id="result_title" class="sidebar-title p-2">
						<h4><b>Forse cercavi...</b>
							<a onclick="hideSidebar()">
								<button type="button" class="btn btn-sm btn-outline-secondary float-right" id="sidebar-hide-btn">
									<i class="fa fa-chevron-left"></i>
								</button>
							</a>
						</h4>
					</div>
				</div>
				<div class="sidebar-table">
					<div class="possibilities" id="resultsSidebar">
					</div>
					<div class="possibilities" id="possibilitiesFather">
						<!-- se vogliamo il carosello owl-carousel owl-theme -->
					</div>
				</div>
			</div>
		</div>

		<div class="loader" style="display:none;" id="loading">
			<!-- <img id="loading_gif" src="/static/assets/loading.gif"> -->
			<div class="spinner-border text-warning" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>

		<!-- DIV CON LA MAPPA -->
		<div class="map-container leaflet-container leaflet-retina leaflet-fade-anim" tabindex="0" id="mapcontainer">
			<div id="mapid">
				<script>
					// Create a variable with already both layer
					var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						minZoom: 10,
						maxZoom: 19,
						minNativeZoom: 10,
						maxNativeZoom: 19,
						zoomControl: false,
						attribution: 'DeQua | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
					});
					var esri = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
						minZoom: 10,
						maxZoom: 19,
						minNativeZoom: 10,
						maxNativeZoom: 19,
						zoomControl: false,
						attribution: 'DeQua | Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
					});

					var baseMaps = {
						"OpenStreetMap": osm,
						"ESRIMap": esri
					}
					var whichmap = "OpenStreetMap";

					var mymap = L.map('mapid', {
						layers: baseMaps[whichmap]
					});

					mymap.setView([45.435, 12.333], 15);

					var possibilitiesLayer = L.markerClusterGroup();

					var highlightPane = mymap.createPane("highlightPane");
					highlightPane.style.zIndex = 700;
					var highlight = L.geoJson(null, {
						pane: "highlightPane"
					}).addTo(mymap);
					var highlightStyle = {
						stroke: false,
						fillColor: "#ffb400",
						fillOpacity: 0.9,
						radius: 10,
						className: 'blinking',
						pane: "highlightPane"
					};

					// Create markers for start and end
					var marker_start = L.marker([], markerOptions).setIcon(greenIcon);

					var marker_end = L.marker([], markerOptions).setIcon(redIcon);

					var pathLines = L.geoJSON([],{
		        filter: function(feature) {
		          // draw only lines!
		          return feature.geometry.type == "LineString";
		        },
		        style: function(feature) {
		          switch (feature.properties.street_type) {
		            case 'canale': return {color: "#0000ff"};
		            case 'ponte':  return {color: "#ffff00"};
		            case 'calle':  return {color: "#ff0000"};
		          }
		        }
		      });

					var pathGroup = L.featureGroup([marker_start, marker_end, pathLines]);
					// options for all markers
					var marker_icon = L.icon({
						iconUrl: '/static/img/icon_marker_50.png',
						iconRetinaUrl: '/static/img/icon_marker.png',
						iconSize: [33, 50],
						iconAnchor: [16, 49],
						popupAnchor: [0, -40]
					});

					// Options for the marker
					var markerOptions = {
						clickable: true,
						// si alza all'hover - non va :(
						riseOnHover: true,
						icon: marker_icon
					}
					// create marker for location
					var marker_location = L.marker([],markerOptions)

					var popup = L.popup();

					// polygon for shapes
					var polygon = L.geoJSON()
					//L.control.layers(baseMaps).addTo(mymap);
					// var OpenStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					// minZoom: 12,
					// maxZoom: 19,
					// minNativeZoom: 12,
					// maxNativeZoom: 19,
					// zoomControl: false,
					// attribution: 'DeQua | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
					// }).addTo(mymap);
					//OpenStreetMap_DE = L.tileLayer.provider('Stamen.Watercolor').addTo(mymap);
					// Zoom buttons to the bottom right
					mymap.zoomControl.setPosition('bottomright');
					var loc_control = L.control.locate({
						position: 'bottomright',
						strings: {
							title: "Show me where I am, yo!"
						},
						showCompass: true
					}).addTo(mymap);
					var scale = L.control.scale().addTo(mymap);
				</script>
			</div>
			<!-- DIV IN ALTO A SINISTRA - QUI LA BARRA DI RICERCA -->
			<!-- per essere cliccato e usato da telefono, deve stare fuori dalla mappa! Se no l'utente clicca la mappa e non la barra di ricerca! -->

			<!-- leaflet top lo mantiene in alto e sopra lo schermo, lg-4 resposnive -->
			<div class="leaflet-top col no-gutters" id="searchbar">
				<!-- button works because of this -->
				<div class="row">
					<div class="col-lg-5 col-md-6">
						<div class="row">
							<div class="leaflet-control col-md-12">
								<form id="ricerca_ind" action="" method="GET">
									<!-- PRIMA RIGA: BARRA DI RICERCA -->
									<div class="row">
										<!-- A sinistra la barra di ricerca -->
										<div class="col-10">
											<div class="input-group">
												<div class="input-group-prepend">
													<button class="input-group-text btn bg-white border-right-0 border" type="button" id="startFromWhereIAMbtn">
														<i class="fa fa-bullseye"></i>
													</button>
													<script>
														document.getElementById('startFromWhereIAMbtn').onclick = function() {
															copyMyPositionAsStart(mymap);
														};
													</script>
												</div>
												<input type="text" class="form-control" placeholder="cerca..." aria-label="" aria-describedby="basic-addon1" name="partenza" id="search_field_1" oninput="useristypingin('search_field_1')">
												<!-- A hidden input takes the coordinates for the start location and we can store them here: it will never be visible -->
												<input type="hidden" name="start_coord" id="hidden_start_coord">
												<div class="input-group-append">
													<button class="input-group-text btn bg-white border-left-0 border" type="button" id="search_field_1_x" onclick="clearField('search_field_1')">
														<i class="fa fa-times"></i>
													</button>
												</div>
											</div>
											<!-- <input type="text"  placeholder="cerca.." name="partenza" class="form-control" id="search_field_1"> -->
										</div>
										<!-- A destra il pulsante per cercare -->
										<div class="col-1 align-self-center">
											<button class="btn btn-sm btn-light v4wbtn" style='background-color: #0090ff; color: #0090ff; border: 1px solid #0090ff' type="submit" form="ricerca_ind" id="searchbtn"><img src="/static/img/dequa_logo_v2.png" style="width:20px;margin-left: -3px;"></button>
											<!-- <div id="start_from_my_location" style="display: none">
										<button class="btn btn-sm btn-light v4wbtn" type=button id="startFromWhereIAMbtn"><i class="fa fa-fw fa-location-arrow"></i></button>
										<script>
										document.getElementById('startFromWhereIAMbtn').onclick = function() { copyMyPositionAsStart(mymap); };
									</script>
								</div> -->
										</div>
									</div>

									<!-- SECONDA RIGA: BOTTONE PER AGGIUNGERE LA SECONDA BARRA DI RICERCA -->
									<div class="row">
										<div class="col align-self-center">
											<!-- inizialmente mostriamo il bottone -->
											<div class="button-plus" id="add-searchfield">
												<a onclick="click_showSecondSearchbar()">
													<button type=button id="btn-plus" class="btn btn-sm btn-light v4wbtn"><img src="/static/icons/iconfinder_path_2969396.svg" class="icon fa-fw p-0"></button>
												</a>
											</div>
										</div>
									</div>

									<!-- quando uno preme, nascondiamo il bottone e mostriamo il secondo campo di ricerca -->
									<div class="container-search-field" id="second-search-field" style="display: none">
										<!-- SECONDA RIGA: BARRA DI RIRCERCA -->
										<div class="row">
											<div class="col-10">
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="input-group-text btn bg-white border-right-0 border" type="button" onclick="hideSecondSearchbar()">
															<i class="fa fa-minus-square-o"></i>
														</button>
													</div>
													<input type="text" class="form-control" placeholder="fino a..." aria-label="" aria-describedby="basic-addon1" name="arrivo" id="search_field_2" oninput="useristypingin('search_field_2')">
													<!-- A hidden input takes the coordinates for the end location and we can store them here: it will never be visible -->
													<input type="hidden" name="end_coord" id="hidden_end_coord">
													<div class="input-group-append">
														<button class="input-group-text btn bg-white border-left-0 border" type="button" id="search_field_2_x" onclick="clearField('search_field_2')">
															<i class="fa fa-times"></i>
														</button>
													</div>
												</div>
												<!-- <input type="text" name="arrivo" placeholder="fino a.." class="form-control" id="search_field_2"> -->
											</div>
											<div class="col-1 align-self-center">
												<button type=button onclick="swapDirections()" class="btn btn-sm btn-light v4wbtn"><i class="fa fa-fw fa-exchange fa-rotate-90"></i></button>
											</div>
										</div>
										<!-- TERZA RIGA: BOTTONI + trova la strada-->
										<div class="row space_above">
											<div class="col-12">
												<div id="nav_buttons" style="display: none">
													<label class="btn btn-sm btn-light v4wbtn" title="Strada a piedi"><input type="checkbox" form="ricerca_ind" name="walk" id="walk_setting" class="chb" checked><img src="/static/icons/pedone.svg" class="icon"></input></label>
													<label class="btn btn-sm btn-light v4wbtn" title="Strada con meno ponti"><input type="checkbox" form="ricerca_ind" name="lazy" id="less_bridges_setting" class="chb"><img src="/static/icons/carretto.svg"
															class="icon"></input></label>
													<label class="btn btn-sm btn-light v4wbtn" title="Strada in barca"><input type="checkbox" form="ricerca_ind" name="boat" id="boat_setting" class="chb"><img src="/static/icons/barchin.svg" class="icon"></input></label>
													<span tabindex="0" class="d-inline-block" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Work in progress!">
														<label class="btn btn-sm btn-light v4wbtn disabled" title="Percorso accessibile"><input type="checkbox" class="disabled" form="ricerca_ind" name="tide" id="tide_setting" disabled><img src="/static/icons/carrozzina.svg" class="icon"></input></label>
													</span>
													<!-- <span tabindex="0" class="d-inline-block" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Work in progress!"><label class="btn btn-sm btn-light v4wbtn disabled"
															title="Percorso con i battelli"><input type="checkbox" form="ricerca_ind" name="ambu" id="ambu_setting" disabled><img src="/static/icons/battello.svg" class="icon"></i></input></label></span> -->
												</div>
												<script>
													$(".chb").change(function() {
														$(".chb").prop('checked', false);
														$(this).prop('checked', true);
													});
												</script>
											</div>
											<!-- <div class="col-1">
						<button type="submit" class="btn btn-sm btn-light v4wbtn"><i class="fa fa-fw fa-map-signs"></i></button>
						<!-- <button type="submit" class="btn btn-sm btn-light v4wbtn">Vai!</button> -->
											<!-- <button type="submit" class="btn btn-sm btn-light v4wbtn"><i class="fa fa-fw fa-search"></i></button> -->
											<!-- </div> -->
										</div>
										<!-- QUARTA RIGA: TROVA LA STRADA -->
										<!--
					<div class="row space_above">
					<div class="col-lg-4">
					<button type="submit" class="btn v4wbtn">Trova la strada &nbsp; <i class="fa fa-search"></i></button>
				</div>
			</div>
		-->
									</div> <!-- Chiudiamo seconde barre varie -->
									<!-- Hidden fields -->
									<!-- <input type="hidden" name="start_coord" id="start_coord">
									<input type="hidden" name="end_coord" id="end_coord"> -->
								</form>
								<script>
								$('#ricerca_ind').submit(function(e){
								    e.preventDefault();
										$("#search_field_1").blur();
										$("#search_field_2").blur();
								    $.ajax({
								        url: '/update_results',
								        type: 'get',
								        data:$('#ricerca_ind').serialize(),
												beforeSend:function() {
													window.history.pushState(null,'','?'+$('#ricerca_ind').serialize())
													drawPreLoader()
												},
								        success:function(response){
							            dict_in_JS = response;
													initialize_html();
													addSocialButton(mymap);
								        },
												error:function() {
													hidePreLoader();
													$("#errorwindow-explanation").innerHTML = "C'è stato un errore con il server!";
											    $("#errorwindow").show();
            						},
								    });
								});
								</script>
								<!-- Bottone per riaprire la sidebar -->
								<div class="container-fluid" id="show-sidebar" style="display:none">
									<div class="row space_above">
										<a onclick="showSidebar()">
											<button type=button class="btn btn-sm btn-light v4wbtn">
												<i class="fa fa-info"></i>
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- METTIAMO CARD CON RISULTATI SOTTO ALLE BARRE VARIE -->
							<div class="leaflet-control col-md-8 col-10">
								<div class="container-fluid" id="results_search" style="display:none;">
									<!-- PERCORSO TERRA -->
									<!--
			<div class="result_div" id="percorso">
			<p class="results_title">PERCORSO:</p>
			<p class="results_text">
			<!-->
									<div class="card" id="percorso_terra">
										<div class="card-header container-fluid">
											<div class="row">
												<div class="col-9 align-self-center">
													PERCORSO A PIEDI <br>
													<span style='color: red; '><i class="fa fa-minus" aria-hidden="true"></i></span> calle,
													<span style='color: yellow; '><i class="fa fa-minus" aria-hidden="true"></i></span> ponte
												</div>
												<div class="col-3 float-right">
													<!--<a onclick="closeResultsWindow()">-->
													<a onclick="moveResultsToSidebar()">
														<button class="btn btn-sm btn-outline-secondary float-right"><i class="fa fa-close"></i></button>
													</a>
												</div>
											</div>
										</div>
										<div class="card-body">
											DA:<br>
											<span id="walk_da_text"></span><br>
											A:<br>
											<span id="walk_a_text"></span><br>
											LUNGHEZZA:<br>
											<span id="walk_length_text"></span><br>
											TEMPO:<br>
											<span id="walk_time_text"></span><br>
											PONTI:<br>
											<span id="walk_ponti_text"></span><br>
										</div>
									</div>
									<!-- PERCORSO ACQUA -->
									<div class="card" id="percorso_acqua">
										<div class="card-header container-fluid">
											<div class="row">
												<div class="col-9 align-self-center">
													PERCORSO IN BARCA <br>
													<span style='color: red; '><i class="fa fa-minus" aria-hidden="true"></i></span> calle,
													<span style='color: yellow; '><i class="fa fa-minus" aria-hidden="true"></i></span> ponte,
													<span style='color: blue;'><i class="fa fa-minus" aria-hidden="true"></i></span> canale
												</div>
												<div class="col-3 float-right">
													<!--<a onclick="closeResultsWindow()">-->
													<a onclick="moveResultsToSidebar()">
														<button class="btn btn-sm btn-outline-secondary float-right"><i class="fa fa-close"></i></button>
													</a>
												</div>
											</div>
										</div>
										<div class="card-body">
											DA:<br>
											<span id="boat_da_text"></span><br>
											A:<br>
											<span id="boat_a_text"></span><br>
											LUNGHEZZA:<br>
											<span id="boat_length_text"></span><br>
											TEMPO:<br>
											<span id="boat_time_text"></span><br>
											INFO:<br>
											<span id="boat_info_text"></span><br>
											<span style='color: black'><i class="fa fa-exclamation" aria-hidden="true"></i> Alcuni percorsi potrebbero variare a seconda dell'orario. Per calcolare questo percorso abbiamo tenuto conto dell'orario attuale, in futuro sarà possibile cercare i percorsi per altri orari. <br>
										</div>
									</div>
									<!-- RICERCA SINGLE -->
									<!--
			<div class="result_div" id="single_address">
			<p class="results_title">RICERCA:</p>
			-->
									<div class="card" id="single_address">
										<div class="card-header container-fluid">
											<div class="row">
												<div class="col-9 align-self-center">
													ABBIAMO TROVATO:
												</div>
												<div class="col-3 float-right">
													<!-- <a onclick="closeResultsWindow()"> -->
													<a onclick="moveResultsToSidebar()">
														<button class="btn btn-sm btn-outline-secondary float-right"><i class="fa fa-close"></i></button>
													</a>
												</div>
											</div>
										</div>
										<div class="card-body">
											<p class="results_text">
												<span id="found_text"></span><br>
												<!-- Tolto temporaneamente (14.09) - da migliorare:
															il resto del codice (js) e in result_window.js
												TIPO:<br>
												<span id="type_text"></span><br>
												-->
											</p>
										</div>
									</div>
									<!-- NON DOVREBBE APPARIRE -->
									<!--
			<div class="result_div" id="weird">
			<p class="results_title">STRANO:</p>
			-->
									<div class="card" id="weird">
										<div class="card-header">
											STRANO
											<!-- <a onclick="closeResultsWindow()"> -->
											<a onclick="moveResultsToSidebar()">
												<button class="btn v4wbtn Xbtn"><i class="fa fa-close"></i></button>
											</a>
										</div>
										<div class="card-body">
											<p class="results_text">
												Non dovrebbe mai apparire.<br>
												Probabilmente abbiamo sbagliato qualcosa.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--</div> chiudiamo leaflet control -->
					</div>
					<div class="col-lg-4">
						<div class="leaflet-control">
							<div class="alert alert-dq-red alert-dismissible fade show" role="alert" id="errorwindow" style="display:none">
								<h4 class="alert-heading" id="errorTitle">C'è stato un errore!</h4>
									<!-- Messaggio d'errore! -->
									<p class="mb-0" id="errorwindow-explanation"></p>
									<hr>
									<p id="error-text">È un po' imbarazzante, ma questo è anche il motivo per cui la versione si chiama <strong>alpha</strong>!
										<br> Se vuoi lasciarci un feedback per darci qualche informazione in più, clicca qui:</p>
										<div style="text-align: center;"> <!-- centra il bottone! -->
											<button id="errorFbButton" class="btn btn-default v4wbt btn-dq-red dequa_area" onclick="closeErrorAndShowFeedbackNew()">
												<i class="fa fa-2x fa-exclamation-triangle"></i>
												<p class="mb-0">Feedback</p>
											</button>
										</div>
										<!-- Qua sotto troverai una breve descrizione del problema…
										Noi abbiamo salvato un report dell'errore e tenteremo di risolverlo, se però vuoi darci più informazioni a riguardo puoi inviarci un <strong>feedback cliccando sulla zampa
										<img src="/static/img/dequa_logo_v2.png" style="width:12px;"></strong> in basso a destra. <br>
										Se hai boresso, puoi anche segnalare il bug su <a href="https://github.com/Lychfindel/v4w_website/issues" target="_" class="alert-link">github <i class="fa fa-github"></i></a> aprendo una issue!
									</p>-->
								<button type="button" class="close" data-hide="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<script>
							$(function(){
								$("[data-hide]").on("click", function(){
									$(this).closest("." + $(this).attr("data-hide")).hide();
								});
							});
							</script>
							<div class="alert alert-dq-green alert-dismissible fade show" role="alert" id="feedbackmessagewindow-success" style="display:none">
								Grazie per il feedback!
								<button type="button" class="close" data-hide="alert" aria-label="Close" style="top: -5px">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="alert alert-dq-red alert-dismissible fade show" role="alert" id="feedbackmessagewindow-fail" style="display:none">
								Ops, qualcosa è andato storto nell'invio del feedback.<br>
								Per favore prova a reinviarlo.
								<button type="button" class="close" data-hide="alert" aria-label="Close" style="top: -5px">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div><!-- chiude leaflet-top -->

			<!-- DIV IN BASSO A SINISTRA - TIPO MAPPA -->
			<script>
				L.easyButton('fa fa-map', function() {
					changeMap(whichmap);
				}, {
					position: 'bottomleft'
				}).addTo(mymap);
			</script>

			<!-- DIV IN BASSO A DESTRA SOPRA LO ZOOM - Zampa per la finestra d'aiuto -->
			<script>
			  var stringaButton = '<svg width="2em" height="2em" viewBox="3 0 16 16" class="bi bi-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>'
				L.easyButton(stringaButton, function(btn, map) {
					showSettingsWindowNew();
				}, {
					position: 'bottomright'
				}).addTo(mymap);
				// Functions for setting window
				function showSettingsWindowNew() {
					document.getElementById("settings-general").style.display = 'block';
					document.getElementById("settings-help").style.display = 'none';
					document.getElementById("settings-feedback").style.display = 'none';
					$('#settingsWindow').modal({
						show: true
					});
				};

				function showHelpWindowNew() {
					document.getElementById("settings-general").style.display = 'none';
					document.getElementById("settings-help").style.display = 'block';
				}

				function closeHelpWindowNew() {
					document.getElementById("settings-help").style.display = 'none';
				}


			</script>

			<!-- SETTING WINDOW: modal -->
			<!-- Modal -->
			<div class="modal fade" id="settingsWindow" tabindex="-1" role="dialog" aria-labelledby="Settings" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content" id="settings-general">
						<div class="modal-header">
							<h5 class="modal-title">DeQua</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row mb-4">
								<div class="col-6 text-center">
									<button class="btn btn-sq btn-default v4wbtn dequa_area" onclick="showHelpWindowNew()">
										<i class="fa fa-4x fa-question"></i>
										<br>
										<h6 class="mb-0">Aiuto</h6>
									</button>
								</div>
								<div class="col-6 text-center">
									<button class="btn btn-sq btn-default v4wbtn dequa_area" onclick="showFeedbackWindowNew()">
										<i class="fa fa-4x fa-exclamation-triangle"></i>
										<br>
										<h6 class="mb-0">Feedback</h6>
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-6 text-center">
									<a class="btn btn-sq btn-default v4wbtn dequa_area" style="color:inherit;" href="/info" target="_blank">
										<i class="fa fa-4x fa-user pt-2"></i>
										<br>
										<h6 class="mb-0">Info</h6>
									</a>
								</div>
								<div class="col-6 text-center">
									<a class="btn btn-sq btn-default v4wbtn dequa_area" style="color:inherit;" href="https://github.com/Lychfindel/v4w_website" target="_blank">
										<i class="fa fa-4x fa-github pt-2"></i>
										<br>
										<h6 class="mb-0 pb-0">GitHub</h6>
									</a>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<small class="text-muted">Versione alpha</small>
						</div>
					</div>
					<div class="modal-content" id="settings-help" style="display: none">
						<div class="modal-header">
							<h5 class="modal-title">Da che parte? DeQua!</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeHelpWindowNew()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h4> Cerca il tuo indirizzo, o cerca un percorso tra due punti. </h4>
							Tieni presente che il sito al momento è un cantiere aperto e stiamo lavorando a diverse migliorie, è quindi possibile che alcune cose non funzionino a dovere.
							<hr>
							Ciononostante, potrai usare le funzionalità di base: <br>
							- gli indirizzi vengono trovati e visualizzati correttamente, con grande precisione,
							e anche strade e campi; <br>
							- Puoi provare anche a cercare punti di interesse come locali, chiese, musei;<br>
							- Il calcolo dei percorsi ti aiuterà a muoverti a Venezia seguendo i percorsi più brevi; <br>
							Puoi anche scegliere la strada con meno ponti (icona col carretto <img src="/static/icons/carretto.svg" class="icon">)
							o calcolare il percorso in barca (icona col barchino <img src="/static/icons/barchin.svg" class="icon">).<br>
							Cerca usando il bottone con il logo di DeQua <img src="/static/img/dequa_logo_v2.png" class="icon">!<br>
							<hr>
							Se trovate qualcosa che non va o volete dirci qualcosa, scriveteci a <a href="mailto:info@dequa.it">info@dequa.it</a>!<br>
							Se preferite, il form per il feedback si trova nel menu!<br>
							<br>
							Buona giornata.<br>
							I fioi.<br>
						</div>
					</div>
					<div class="modal-content" id="settings-feedback" style="display: none">
						<div class="modal-header">
							<h5 class="modal-title">DeQua - Feedback</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeFeedbackWindowNew()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<small class="form-text text-muted">Nessuno dei campi è obbligatorio e nessuna informazione verrà condivisa con terzi!</small>
							</div>
							<div id="formid">
								<form action="" method="post">
									{{ form.csrf_token }}

									<!-- {{ form.name.label }}
						{{ form.name(size=32) }} <br>
						{% for error in form.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %} -->
									<div class="form-group">
										<label class="feedback-label" for="name">Nome</label>
										<input type="text" class="form-control" id="name" name="name" placeholder="Nome">
									</div>
									<!-- <div class="form-group">
						{{ form.email.label }}
						{{ form.email(size=32) }} <br>
						{% for error in form.email.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div> -->
									<div class="form-group">
										<label class="feedback-label" for="email">Email</label>
										<input type="text" class="form-control" id="email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
										<small class="form-text text-muted">La tua mail è sacra: la useremo solo per chiederti chiarimenti o per avvisarti che il problema è risolto.</small>
									</div>
									<div class="form-group">
										<!-- {{ form.category.label }}
						{{ form.category() }}
						{% for error in form.category.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %} -->
										<label class="feedback-label" for="category">Oggetto</label>
										<select class="form-control" id="category" name="category">
											{% for num,choice in form.category.choices %}
											<option value={{num}}>{{choice}}</option>
											{% endfor %}
											<!-- <option selected>Oggetto non specificato</option>
							<option>Indirizzo sbagliato</option>
							<option>Strada sbagliata</option>
							<option>Problemi di grafica</option>
							<option>Proposta di miglioramento</option>
							<option>Altro</option> -->
										</select>
									</div>
									<div class="form-group">
										<div class="row" id="form-search-address" style="display:none;">
											<div class="col">
												<!-- {{ form.searched_string.label }}
								{{ form.searched_string(size=32) }} -->
												<label class="feedback-label" for="searched_string">Ricerca</label>
												<input type="text" class="form-control" id="searched_string" name="searched_string" placeholder="Cosa hai cercato" readonly>
											</div>
										</div>
										<div class="row" id="form-search-path" style="display:none;">
											<div class="col-6">
												<label class="feedback-label" for="searched_start">Partenza</label>
												<input type="text" class="form-control" id="searched_start" name="searched_start" placeholder="La partenza che hai cercato" readonly>
											</div>
											<div class="col-6">
												<label class="feedback-label" for="searched_end">Arrivo</label>
												<input type="text" class="form-control" id="searched_end" name="searched_end" placeholder="L'arrivo che hai cercato" readonly>
											</div>
										</div>
									</div>
									<div class="form-group">
										<!-- {{ form.found_string.label }}
						{{ form.found_string(size=32) }} -->
										<div class="row" id="form-found-address" style="display:none;">
											<div class="col">
												<label class="feedback-label" for="found_string">Risultato</label>
												<input type="text" class="form-control" id="found_string" name="found_string" placeholder="Quello che abbiamo trovato" readonly>
											</div>
										</div>
										<div class="row" id="form-found-path" style="display:none;">
											<div class="col-6">
												<label class="feedback-label" for="found_start">Risultato partenza</label>
												<input type="text" class="form-control" id="found_start" name="found_start" placeholder="La partenza che hai cercato" readonly>
											</div>
											<div class="col-6">
												<label class="feedback-label" for="found_end">Risultato arrivo</label>
												<input type="text" class="form-control" id="found_end" name="found_end" placeholder="L'arrivo che hai cercato" readonly>
											</div>
										</div>
									</div>
									<div class="form-group">
										<!-- {{ form.feedback.label }}<br>
						{{ form.feedback(cols=50, rows=4) }}<br>
						{% for error in form.feedback.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %} -->
										<label class="feedback-label" for="feedback">Problema o feedback</label>
										<textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
										<small class="form-text text-muted">Più informazioni ci dai più semplice sarà per noi capire il problema e risolverlo!</small>
									</div>
									<input type="hidden" name="dictJS" id="fbDict" value='{{results_dictionary|tojson}}'>
									<!-- <p>
					{{ form.submit() }}
				</p> -->
									<button type="submit" class="btn btn-secondary">Invia</button>
								</form>
							</div>
							<script>
								function formShowAddressField() {
									document.getElementById("form-search-path").style.display = 'none';
									document.getElementById("form-found-path").style.display = 'none';
									document.getElementById("form-search-address").style.display = 'block';
									document.getElementById("form-found-address").style.display = 'block';
								};
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div> <!-- Close map container -->
	</div> <!-- Close container -->
	<script>
		var feedbacksent = {{feedbacksent}};
		var popup = L.popup();

		var dict_in_JS = {{results_dictionary | tojson}};

		$(document).ready(function() {
			console.log("DOM ready - initialize HTML!");
			initialize_html();
		});
	</script>
</body>

</html>
