<!DOCTYPE html>
<html>
	<title>De Qua - SELF-CONTAINED VERSION TO EDIT</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/w3s.css">
	<link rel="stylesheet" href="../static/css/s.css">
	<link rel="stylesheet" href="../static/css/bootleaf.css">
	<link rel="stylesheet" href="../static/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css">
	<link rel="icon" href="../static/img/dequa_logo_v1.png">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- LEAFLET CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		 crossorigin=""/>
	 <!-- Make sure you put this AFTER Leaflet's CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		 crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
	<!-- PROVIDERS FOR DIFFERENT MAP TYPES -->
	<script src="../static/js/leaflet-providers.js"></script>
	<!-- Our own (little) javascript library. -->
	<script src="../static/js/v4w.js"></script>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<div class="navbar-icon-container">
			<a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
			<a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
		</div>
		<a class="navbar-brand" href="#"><img src="../static/img/dequa_logo_v1.png" height="120%" style="display: inline;">&nbsp; DeQua</a>
	</div>
	<div class="navbar-collapse collapse navbar-right">
		<ul class="nav navbar-nav">
			<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"><i class="fa fa-exclamation-triangle white"></i>&nbsp;&nbsp;Help</a></li>
			<li class="dropdown">
				<a id="toolsDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe white"></i>&nbsp;&nbsp;Tools <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="full-extent-btn"><i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Zoom To Full Extent</a></li>
					<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="legend-btn"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Show Legend</a></li>
					<li class="divider hidden-xs"></li>
					<li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Login</a></li>
				</ul>
			</li>
			<li class="dropdown">
					<a class="dropdown-toggle" id="downloadDrop" href="#" role="button" data-toggle="dropdown"><i class="fa fa-cloud-download white"></i>&nbsp;&nbsp;Download <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="data/boroughs.geojson" download="boroughs.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Boroughs</a></li>
						<li><a href="data/subways.geojson" download="subways.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Subway Lines</a></li>
						<li><a href="data/DOITT_THEATER_01_13SEPT2010.geojson" download="theaters.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Theaters</a></li>
						<li><a href="data/DOITT_MUSEUM_01_13SEPT2010.geojson" download="museums.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Museums</a></li>
					</ul>
			</li>
			<li class="pad-right"><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;About</a></li>
		</ul>
	</div><!--/.navbar-collapse -->
</div>

	<!-- DIV CON LA MAPPA -->
	<div id="mapid">
		<script>
			var whichmap = "osm";
			var mymap = L.map('mapid');
			var OpenStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			minZoom: 12,
	    maxZoom: 19,
	    minNativeZoom: 12,
	    maxNativeZoom: 19,
			zoomControl: false,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(mymap);
			//OpenStreetMap_DE = L.tileLayer.provider('Stamen.Watercolor').addTo(mymap);
			// Zoom buttons to the bottom right
			mymap.zoomControl.setPosition('bottomright');
			// a random marker to show a markers are used
			//var marker = L.marker([45.43, 12.33]).addTo(mymap);
			//var marker;
			//var circle;
			//var marker_arrivo;
			//var lc =
			L.control.locate({
		    position: 'bottomright',
		    strings: {
		        title: "Show me where I am, yo!"
		    }
				}).addTo(mymap);
			var feedbackjs = 0;
		</script>
	</div>
	
	<!-- BARRA DI RICERCA PRESA DA BOOTLEAF -->
	
	<!-- SPOSTATA CON TOP-LEFT in POSIZIONE ABSOLUTE sotto la BARRA -->
	<div class="top-left" id="tlbar">
		<form class="navbar-form navbar-below" role="search" id="ricerca_ind">
			<div class="form-group has-feedback shadow">
					<input id="searchbox_start" type="text" placeholder="Cerca.." class="form-control">
			
					<button class="btn v4wbtn" type="submit" form="ricerca_ind" id="searchicon" class=" form-control-feedback"><i class="fa fa-search"></i></button>
			</div>
		</form>
			<!-- Questo va sotto la barra ed e un container con 2 cose: un bottone, e un secondo campo di ricerca -->
			<div class="below-tlbar">
				<!-- inizialmente mostriamo il bottone -->
				<a onclick="showSecondSearchbar()">
					<div class="button-plus" id="add-searchfield">
						<button type=button id="btn-plus" class="fa fa-plus btn v4wbtn pad-left"></button>
					</div>
				</a>
				<!-- quando uno preme, nascondiamo il bottone e mostriamo il secondo campo di ricerca -->
				<div class="container-search-field" id="second-search-field" style="display: none">
						<div class="form-group has-feedback">
								<input id="searchbox_end" type="text" placeholder="fino a.." class="form-control">
						</div>
						<button type=button onclick="hideSecondSearchbar()" class="fa fa-plus btn v4wbtn pad-left"></button>
				</div><br>
				<!-- Aggiungiamo un bottone per il percorso sotto -->
				<div class="calculate-path-cointainer button-plus" id="calc-button" style="display: none">
					<button onclick="" class="btn v4wbtn">Trova la strada &nbsp; <i class="fa fa-search"></i></button>
				</div>
			</div>
		
	</div>
	
	
		<!-- DIV IN BASSO A SINISTRA - TIPO MAPPA -->
		<div class="leaflet-bottom leaflet-left onlyMap">
			<a onclick="showSecondSearchbar()"> <!-- </a>changeMap(whichmap)"> -->
				<div class="leaflet-control maptype w3-medium">
					<button class="btn v4wbtn mapbtn"><i class="fa fa-map"></i></button>
				</div>
			</a>
		</div>
	
		<!-- DIV IN BASSO A DESTRA - GEO-LOCALIZZZIONE
		<div class="leaflet-bottom leaflet-right">
			<a onclick="locateUser(mymap, marker, circle)">
				<div class="leaflet-control aboveZoom w3-medium">
					<button class="btn v4wbtn"><i class="fa fa-location-arrow"></i></button>
				</div>
			</a>
		</div>
		-->

	<div class="helpwindowpopup" id="helpwindow" style="display: none">
		<a onclick="closeHelpWindow()"><button class="btn v4wbtn Xbtn"><i class="fa fa-close"></i></button></a>
		<p class="w3-medium"><b>COSA POSSO FARE?</b></p><br>
		<p class="w3-small">Cerca il tuo indirizzo, inserendo SESTIERE e NUMERO CIVICO.<br>
		<br>
		Ad esempio, Cannaregio 5218.<br>
		<br>
		Al momento, alcuni indirizzi non sono trovabili usando un'area della città (ad esempio Santa Marta), ma bisogna usare il sestiere (esempio precedente, Dorsoduro).<br>
		Nel caso in cui l'indirizzo effettivamente non sia stato trovato, contattateci!<br>
		Un form per il feedback verrà rilasciato a breve.<br>
		<br>
		Buona giornata.<br>
		I fioi.<br>

		<br>
		<a onclick="closeHelpWindow()"><button class="btn closebutton">HO CAPITO</button></a>
		</p>

	</div>
	<div class="feedbackwindowpopup" id="feedbackwindow" style="display: none">
		<a onclick="changeFeedbackandClose()"><button class="btn v4wbtn Xbtn"><i class="fa fa-close"></i></button></a>
		<p class="w3-medium"><b>INVIA FEEDBACK</b></p><br>
		<div id="formid">
		<form action="" method="post">
			<p>
				FORM WOULD BE HERE
			</p>
		</form>
		</div>
		<div id="grazieid">
			<p> Grazie per il tuo feedback! </p>
		</div>

	</div>




	
<script>
    //closeHelpWindow();
    //closeFeedbackWindow();
    //toggleFeedbackWindowLayout();

		// OLD VERSION WITH start_coords - 1
		//#if ({{start_coordx}} > 0)
		// NEW VERSION with geo_type
		// geo_type == -2 --> pagina senza ricerca
		// geo_type == -1 --> trovato nulla, pazienza
		// geo_type == 0 --> marker
		// geo_type == 1 --> poligono
		// e facile aggiungere geo_type se vogliamo piu avanti
		switch(0) {
			case -2:
				// do nothing - pagina senza ricerca_ind
				mymap.setView([45.43, 12.33], 13);
				break;
		  case -1:
		    // code block
				alert('non abbiamo trovato nulla! Sicuro di aver scritto giusto? Riprova');
		    break;
		  case 0:
		    // METTI UN MARKER
				var marker_icon = L.icon({
					iconUrl: '../static/img/icon_marker_50.png',
					iconRetinaUrl: '../static/img/icon_marker.png',
					iconSize: [33, 50],
					iconAnchor: [16, 49],
					popupAnchor: [16, 16]
				});

				// Options for the marker
				var markerOptions = {

					 title: "Abbiamo trovato {{start_name}}",
					 clickable: true,
					 // si alza all'hover - non va :(
					 riseOnHover: true,
					 icon: marker_icon
				}

				// coordinate
				marker_arrivo = L.marker([45.43, 12.33], markerOptions);
				var test = "{{start_name}}";
				// Popup se uno clicca sul marker
				marker_arrivo.bindPopup("Abbiamo trovato {{start_name}}").openPopup();
				// aggiungi il marker sulla mappa
				marker_arrivo.addTo(mymap);
				var group = new L.featureGroup([marker_arrivo]);
				mymap.fitBounds(group.getBounds());
				//mymap.setView([{{start_coordx}}, {{start_coordy}}], 18);
		    break;
			case 1:
				// DISEGNA POLIGONO
				var polygonOptions = {

					 title: "Evidenziato {{start_name}}",
					 clickable: true,
					 // si alza all'hover - non va :(
					 riseOnHover: true
				}
				var polygon = L.polygon([
				   	[45.43, 12.33],
						[45.43, 12.33],
						[45.43, 12.33],
				], polygonOptions).addTo(mymap);
				var group = new L.featureGroup([polygon]);
				mymap.fitBounds(group.getBounds());
				//mymap.setView([{{start_coordx}}, {{start_coordy}}], 17);
				break
		  default:
		    // do nothing
				console.log("caso default. strano. guarda nello switch che valore ha geo_type");
		}

</script>

</body>
</html>
