<!DOCTYPE html>
<html>
	<title>Demo - De Qua</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- we should think about SEO, keywords, descriptions, ecc... -->
	<meta name="description" content="Find your way through Venice - Trova la tua strada a Venezia">
	<!-- penso che ora non venga più usata la tag keyword -->
  <meta name="keywords" content="DeQua, Venezia, Strada, Ponte, Calle, Indirizzo, Sestiere">
	<!-- autori -->
	<meta name="author" content="Dequa">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
	<link rel="stylesheet" href="/static/css/product.css" >
  <link rel="icon" href="/static/img/dequa_logo_v2.png">

<body>
	<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">Torna alla Mappa</a>
    <a class="py-2 d-none d-md-inline-block" href="/info">Pagina Info</a>
		<a class="py-2 d-none d-md-inline-block" href="#">DeQua <img src="/static/img/dequa_logo_v2.png" height="20px"></a>
  </div>
</nav>

	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<div class="col-md-5 p-lg-5 mx-auto my-5">
			<h1 class="display-4 font-weight-normal">Ma cosa fa DeQua?</h1>
			<p class="lead font-weight-normal">Tante cose di cui avrai assolutamente bisogno.<br>Scoprile qua sotto!</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<div class="row">
		<div class="col-md-4 p-3 order-md-1">
			<p class="lead font-weight-normal p-4">Chi ha detto che è difficile trovare indirizzi a Venezia? Aspetta, dov'era il 3027b?</p>
		</div>
		<div class="col-md-8 p-3 order-md-2">
			<video width="100%" autoplay muted loop>
				<source src="/static/vids/indirizzo.webm" type="video/webm">
			</video>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 p-3 order-md-1 order-2" >
			<video autoplay loop muted width=100%>
				<source src="/static/vids/sestiere_crop.webm" type="video/webm">
			</video>
		</div>
		<div class="col-md-8 p-3 order-md-2 order-1">
			<p class="lead font-weight-normal p-4">A me piacerebbe capire questa cosa dei sestieri, ad esempio, dov'è Dorsoduro? Lo confondo sempre con Santa Croce..</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 p-3 order-md-1 order-sm-1">
			<p class="lead font-weight-normal p-4">Prima a destra, seconda a sinistra, e poi chiedi ancora! Con tutte queste calli e callette mi perdo sempre! Ma una mappa con il percorso, no?</p>
		</div>
		<div class="col-md-8 p-3 order-md-2 order-sm-2">
			<video width="100%" autoplay muted loop>
				<source src="/static/vids/percorso.webm" type="video/webm">
			</video>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 p-3 order-md-1 order-2">
			<video autoplay loop muted width=100%>
				<source type="video/webm" src="/static/vids/barca_crop.webm">
			</video>
		</div>
		<div class="col-md-8 p-3 order-md-2 order-1">
			<p class="lead font-weight-normal p-4">Oggi con questa bella giornata quasi quasi mi faccio un giro in barchino! Aspetta che guardo che non mi ricordo mai il senso unico..</p>
		</div>
	</div>

	<div></div>

</body>
</html>
